{% extends './base/base.html' %}

{% block title %}
	{{page_title}}
{% endblock %}

{% block javascript %}
{% endblock %}

{% block css %}
	{{url_for('static', filename='styles/index.css')}}
{% endblock %}

{% block main %}
	<div class="main-holder">
		<div>
			<div class="folder-header">
				<p class="folders-text">Folders:</p>
				<a href="/folder/new" class="create-btn">new folder</a>
			</div>
			<div class="folders-div">
				{% for folder in folders %}
					<div class="folder-option">
						<a href="/folder/delete/{{folder.folder_name}}">
							<img class="delete-file-icon" src="https://img.icons8.com/color/18/000000/delete-sign--v1.png"/>
						</a>
						<img class="folder-icon" src="https://img.icons8.com/color/18/000000/folder-invoices--v1.png"/>
						<a href="/folder/{{folder.folder_name}}">{{folder.folder_name}}</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}